# ROS 构建产物
build/
devel/
install/
.catkin_workspace

# Python 缓存
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.coverage
**/.pytest_cache/

# 模型权重（使用 Git LFS 管理）


h



# 大型日志/rosbag
results/raw_bags/*.bag
*.bag

# 编辑器
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db
